<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.EmpExprMapper">

    <!--批量插入员工工作经历信息-->
    <!-- collection：集合名称
         item：集合遍历出来的元素/项
         separator：每一次遍历使用的分隔符
         open：遍历开始前拼接的片段
         close：遍历结束后拼接的片段-->
    <insert id="insertBatch">
        insert into emp_expr(emp_id, begin, end, company, job) VALUES
             <foreach collection="exprList" item="expr"  separator=",">
            (#{expr.empId},#{expr.begin},#{expr.end},#{expr.company}, #{expr.job})
            </foreach>
    </insert>

<!--    批量删除员工工作经历-->
    <delete id="deleteByEmpId">
        delete from emp_expr where id in
        <foreach collection="empIds" item="empId" separator="," open="(" close=")">
            #{empId}
        </foreach>
    </delete>

<!--    根据id查询员工工作经历信息-->
    <select id="getByIdBatch" resultType="com.itheima.pojo.EmpExpr">
        select * from emp_expr where emp_id = #{empId}
    </select>
</mapper>